@import url('https://fonts.googleapis.com/css?family=Cardo|Montserrat&display=swap');

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	}

body {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	text-align: center;
	font-size: 55px
}

h2 {
	font-size: 35px
}

h3 {
	font-size: 20px
}

h4 {
	font-size: 16px;
}

img {
	display:block;
	width:100%;
}

.clear:after {
	content:"";
	display:block;
	clear:both;
}

.header_shop {
	position: absolute;
	right: 30px;
	top:50%;
	transform: translateY(-50%);
	font-size: 20px;
	}

header {
	position: relative;
	background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
	text-align: center;
	font-size: 25px;
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

article {
	background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

aside {
	background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}

section {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

footer {
	text-align: center;
	font-size: 25px;
	background-color: #FF957E;
	margin: 0, auto;
}

.layout {
	text-align: center;
	padding-bottom: 20px
}

.menu_layout {
	padding-left: 60px;
	padding-right: 60px;
}

.hero {
	width:60%;
	margin: 0 auto;
	position: relative;
}

.hero_text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.paragraph {
	font-family: 'Cardo', serif;
	max-width: 900px;
	margin: 0 auto;
	width:100%;
	line-height: 1.55em;
	font-size: 20px
}

.favorites {
	width:33.33%;	
	float:left;
}

.article {
	width:50%;
}

.side {
	width:50%;
}

.flex {
	display:flex;
	justify-content: center;
	align-items: center;
}

.nav_footer {
	width:25%;
	float:left;
}


