body {
	text-align: center;
	color: #70BCFF;
	background: white;
	font-style: "Avant Garde";
}

h1 {
	font-size: 55px
}

#shop {
	text-align:right;
}

menu {
	font-size: 40px
}

footer {
	text-align: left;
	text-decoration: 
}

#slogan {
	font-style: italic;
}