body {
	text-align: center;
	background: white;
	font-style: sans-serif;
}

menu {
	font-size: 24px
}

h1 {
	font-size: 35px
}

a {

}

#shopping_bag {
	text-align:right;
}

footer {
	text-align: left;
}