body {
	color: #70BCFF;
	background: white;
	font-style: "Avant Garde";
}

h1 {
	text-align: center;
	font-size: 55px
}

#shop {
	text-align: right;
}

menu {
	text-align: center;
	font-size: 30px
}

footer {
	text-align: left;
	text-decoration: 
}

#slogan {
	font-style: italic;
}

.layout {
	text-align: center;
	padding-bottom: 30px
}
